
/* InGame Non-interactible Elements */
#ColorCoding{ font-size: 32px; }
#RGB {font-weight: bold;}
#R{ color: #C44; }
#G{ color: #4C4; }
#B{ color: #44C; }

#Lives{
  font-size: 34px;
  display: flex;
  height: 40px;
  width: 120px;
}
#Lives > div {
  color: #D44;
  margin-right: 8px;
}
#Points { font-size: 30px; }
#Points > span { font-weight: bold; }

.fa-stopwatch { font-size: 9vmin; color: #888; }

#TimeClock {
  display: inline-block;
  font-size: 32px;
  width: 40px;
}

/* InGame Pallette color selection box */
#GameBox {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px 16px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  max-width: 40%;
  box-shadow: 6px 8px 4px #444;
}

.Gridbox {
  cursor: pointer;
  text-align: center;
  border: 2px solid rgb(0,0,0);
  width: 140px;
  height: 160px;
  box-shadow: 2px 2px 8px #222;
}
.Gridbox:hover {
  border-radius: 5px;
  animation: grow 1s ease 0s infinite alternate;
}


/* In-Game effects */
.fa-plus { font-size: 0.5em; }

.score-fx {
  font-size: 2em;
  color: #FFF;
  position: absolute;
  text-shadow: 0 0 4px #FC5;
}

/* Small screens less than 720px */
@media screen and (max-width: 720px) {

  #ColorCoding { font-size: 26px; }
  #Points { font-size: 24px; }
  #GameBox { max-width: 90%; }

  .Gridbox {
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(0,0,0);
    width: 82px;
    height: 82px;
  }

}

/* Medium devices (landscape tablets, 720px - 1024px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {

  #GameBox { max-width: 80%; }

  .Gridbox {
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(0,0,0);
    width: 16vw;
    height: 22vh;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {

}
