body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EfEfEf;
  overflow-x: hidden;
  background-image: linear-gradient(120deg, #ffffff 0%, #fcf5cf 50%, #f6ff76 100%);
 
  background-attachment: fixed;

}
h1 { margin-bottom: 0.6em; }

#main { position: relative; height: 95vh; }

main {
  text-align: center;
  margin: 0 auto;
  padding: 12px;
}

footer {
  position: relative;
  color: #555;
  font-size: 3vmin;
  width: 100%;
  bottom: 0px;
}

.flex-row { display: flex; flex-wrap: wrap; }
.container { max-width: calc(1600px + 10%); padding-left: 10%; padding-right: 10%; }


.title { display: block; }
.font-header { font-family: 'Cuprum', sans-serif; }
.font-large { font-size: 8vmin; }

.width-auto { display: inline-block; }
.center { margin: 0 auto; justify-content: center; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-black { color: #000; }
.text-white { color: #FFF; }

.size-20 { font-size: 20px }
.size-26 { font-size: 26px }
.size-30 { font-size: 30px }

.m-t-1 { margin-top: 1em; }
.m-b { margin-bottom: 5em; }
.m-b-1 { margin-bottom: 1em; }
.m-r-1 { margin-right: 1em; }
.m-r-2 { margin-right: 2em; }
.m-r-3 { margin-right: 3em; }
.m-r-4 { margin-right: 4em; }
.m-r-5 { margin-right: 5em; }

.height-400 { max-height: 400px; }

.blur{ filter: blur(8px); }

.hide {
  margin: 0;
  display: none;
  visibility: hidden;
}

.modalOverlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  filter: none;
}

#ModalContent {
  position: relative;
  top: 180px;
  text-align: center;
  margin: auto;
  color: #FFF;
  text-shadow: 0 0 6px #F00;
}

/* Small screens less than 720px */
@media screen and (max-width: 720px) {
  .container { max-width: calc(1600px + 10%); padding-left: 2%; padding-right: 2%; }
  .title { display: none; }
  .hide-sm { display: none; }
  .m-t-1 { margin-top: -1em; }
  .m-r-1 { margin-right: 0; }
  .m-r-2 { margin-right: 0; }
  .m-r-3 { margin-right: 0; }
  .m-r-4 { margin-right: 0; }
  .m-r-5 { margin-right: 0; }
  .height-400 {
    max-height: 800px;
  }

}

/* Medium devices (landscape tablets, 720px - 1024px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {
  .container { max-width: calc(1600px + 10%); padding-left: 2%; padding-right: 2%; }
  
  .m-t-1 { margin-top: -1em; }

}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {

}

/* ANIMATIONS */
.animate-score {animation: score 1s ease 0s infinite; }
.animate-gameover {animation: fade-in 0.5s ease 0s 1, fade-out 0.5s ease 1s 1 forwards; }
.animate-fade-in {animation: fade-in 0.5s ease 0s 1; }
.animate-fade-in-out {animation: fade-in 1s ease 0s infinite alternate; }
.animate-fade-out {animation: fade-out 0.5s ease 0s 1; }
.animate-grow {animation: grow 0.5s ease 0s infinite alternate; }
.animate-title {animation: grow 1s ease 0s infinite alternate; display: inline-block; }
.animate-shrink { animation: shrink 0.5s ease 0s 1 forwards; }
.animate-slideUp { animation: slideUp 0.5s ease 0s 1 alternate; }
.animate-slideLeft { animation: slideLeft 0.5s ease 0s 1 alternate; }

/* ANIMATION KEYFRAMES */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}


@keyframes score {
  0% { opacity: 1; }
  50% { transform: scale(2) translateX(10px) translateY(-60px); }
  80% { transform: scale(1) translateX(20px) translateY(-80px); }
  100% { opacity: 0; }
}

@keyframes grow {
  from { transform: scale(1); }
  to { transform: scale(1.15); }
}

@keyframes shrink {
  from { transform: scale(1); }
  to { transform: scale(0); }
}

@keyframes slideUp {
  from { transform: translateY(100px); }
  to { -webkit-transform: translateY(0); }
}

@keyframes slideLeft {
  from { transform: translateX(100px); }
  to { -webkit-transform: translateX(0); }
}
